<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template2}">
<head>
    <meta charset="UTF-8" >
    <title>TimeSheet</title>

  <link rel="icon" href="C:/Users/mokht/Downloads/clipboard-check-fill.svg" >
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">


  <div class="container " style="margin-left: 29vh;width: 180vh">
    <div class="card col-md-12 mb-12" >
      <div class="card-header" style="width:available">
        <form class="form-inline d-flex " th:method="get" th:action="@{/admin/collabs}">
          <a class="btn btn-primary" style="margin-right: 50px" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/formCollab}"><i class="bi bi-plus-square"></i>
          </a>

          <input class="form-control mr-2" style="width: 300px" name="keyword" type="search" placeholder="Keyword" aria-label="Search" th:value="${keyword}">
          <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i>Search</button>

        </form>
      </div>
      <div class="card-body " style="overflow: scroll;height: 90vh;width:available">

        <div class="row">
          <div th:each="p:${listCollabs}" class="col-md-4 mb-4">

            <div class="card" style="width: 50vh">
              <div class="card-header"></div>

              <div class="card-body">

                <h5 class="card-title" th:text="${p.id}"></h5>
                <p class="card-text" th:text="${p.nom}"></p>
                <p class="card-text" th:text="${p.prenom}"></p>
                <p class="card-text" th:text="${p.email}"></p>
                  <div class="dropdown">
                    <a href="#" class="list-group-item list-group-item-action  dropdown-toggle" data-bs-toggle="dropdown"  th:text="${p.getTaches().size()}+' '+'Taches'"> </a>
                    <div class="dropdown-menu">
                      <div th:each="t:${p.getTaches()}">
                        <a class="dropdown-item" th:text="${t.titre}" th:href="@{/edit(id=${t.id},keyword=${keyword},page=${currentPage},startDate='',endDate='',collabselect=${p.email},fromcollab=true)}"></a>
                      </div>

                    </div>
                  </div>

                <br>



                  <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" onclick="return confirm('are you sure?')" class="btn btn-outline-danger" th:href="@{/admin/deleteCollab(id=${p.id},keyword=${keyword},page=${currentPage})}">
                    <i class="bi bi-trash"></i>
                    Delete
                  </a>




                  <a  class="btn btn-outline-secondary" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                      th:href="@{/admin/editCollab(id=${p.id},keyword=${keyword},page=${currentPage})}">
                    <i class="bi bi-pencil"></i>
                    Modify
                  </a>

              </div>
            </div>
          </div>
        </div>

        <ul class="nav nav-pills">
          <li th:each="page,status:${pages}">
            <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
               th:text="${status.index}"
               th:href="@{/admin/collabs(page=${status.index},keyword=${keyword})}"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


</body>
</html>