<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html"
>
<head>
  <meta charset="UTF-8">
  <title>Taches</title>
</head>
<body>
<div layout:fragment="content1">
  <div class="p-3">
    <form method="post" th:action="@{/save}">
      <div >

      <div class="mb-3 mt-3" >
        <label for="id" class="form-label">ID:</label>
        <label th:text="${tache.id}"></label>
        <input type="hidden" class="form-control" id="id" placeholder="ID" name="id" th:value="${tache.id}">
      </div>
      <div class="mb-3 mt-3" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <label for="titre" class="form-label">Titre:</label>
        <input type="text" class="form-control" id="titre" placeholder="Titre" name="titre" th:value="${tache.titre}">
        <span class="text-danger" th:errors="${tache.titre}"></span>
      </div>
      <div class="mb-3" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <label for="description" class="form-label"> description:</label>
        <input type="text" class="form-control" id="description" placeholder="description"
               name="description" th:value="${tache.description}">
      </div>
      <div class="mb-3 mt-3" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <label for="dateDebut" class="form-label">dateDebut:</label>
        <input type="Date" class="form-control" id="dateDebut" placeholder="dateDebut"
               name="dateDebut" th:value="${formattedDateDebut}">
        <span class="text-danger" th:errors="${formattedDateDebut}" th:value="${formattedDateDebut}"></span>
      </div>
      <div class="mb-3 mt-3" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <label for="dateFin" class="form-label">dateFin:</label>
        <input type="Date" class="form-control" id="dateFin" placeholder="dateFin"
               name="dateFin" th:value="${formattedDateFin}">
        <span class="text-danger" th:errors="${formattedDateFin}" th:value="${formattedDateFin}"></span>
      </div>


        <div class="form-group">
          <label for="coll">collabs:</label>
          <select class="form-control" id="coll" name="coll">
            <option  th:value="${selectedcollab}" th:text="${selectedcollab}" selected ></option>
            <option th:each="p : ${Collabs}" th:value="${p.email}" th:text="${p.email}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"></option>
          </select>
        </div>

      <div class="form-check mb-3" >


        <label class="form-check-label">

          <input class="form-check-input" type="radio" name="etatAvancement" th:value="${etat}" checked><p th:text="${etat}"/>

        </label>
      </div>

      <div class="form-check mb-3" th:each="p:${TachEtat}" >

          <label class="form-check-label">

          <input class="form-check-input" type="radio" name="etatAvancement" th:value="${p}" ><p th:text="${p}"/>

        </label>
        </div>


      <div class="mb-3">
        <label for="heureTravaillees" class="form-label"> heureTravaillees:</label>
        <input type="number" class="form-control" id="heureTravaillees" placeholder="heureTravaillees"
               name="heureTravaillees" th:value="${tache.heureTravaillees}">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
</body>
</html>