<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template2}">
<head>
    <meta charset="UTF-8" >
    <title>TimeSheet</title>

    <link rel="icon" href="C:/Users/mokht/Downloads/clipboard-check-fill.svg" >
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">


    <div class="container mt-2" style="margin-left: 29vh">
        <div class="card" style="width:available">
            <div class="card-header" style="width:available">
            </div>
            <div class="card-body " style="height: 95vh;width:available">

                <div class="row">
                    <div  class="col-md-3 mb-3">
                        <div class="card" style="height: 24.7vh">
                            <div class="card-body">
                                <h5 class="card-title">Taches :</h5>

                                <hr>
                                <h1 class="card-text" ><a th:text="${listtache}"></a><i class="bi bi-card-list" style="margin-left: 200px"></i></h1>

                            </div>

                        </div>
                    </div>
                    <div  class="col-md-3 mb-3">

                    <div class="card" style="height: 24.7vh">
                        <div class="card-body">
                            <h5 class="card-title">Collaborateurs :</h5>

                            <hr>
                            <h1 class="card-text" ><a th:text="${summariesCount}"></a><i class="bi bi-people-fill" style="margin-left: 200px"></i></h1>

                        </div>

                    </div>
                </div>
                    <div  class="col-md-6 mb-6">

                        <div class="card" style="height: 24.7vh">
                            <div class="card-header" >
                               <span  style="height: 15px; width: 15px;background-color: orange;border-radius: 50%;display: inline-block;"></span> <h7>&nbsp;NON_COMMENCE&nbsp;&nbsp;</h7>
                                <span  style="height: 15px; width: 15px;background-color: red;border-radius: 50%;display: inline-block;"></span><h7>&nbsp;EN_ATTENTE&nbsp;&nbsp;</h7>
                                <span  style="height: 15px; width: 15px;background-color: blue;border-radius: 50%;display: inline-block;"></span> <h7>&nbsp;EN_COURS&nbsp;&nbsp;</h7>
                                <span  style="height: 15px; width: 15px;background-color: green;border-radius: 50%;display: inline-block;"></span><h7>&nbsp;TERMINE</h7>
                            </div>
                            <div class="card-body" style="overflow:scroll;overflow-x:hidden; ">
                                <div th:each="p : ${summaries}">
                                    <div class="card" style="height: 60px;">
                                        <div class="card-body d-inline-block">
                                            <div th:text="${p.email}" ></div>

                                            <div class="progress" style="height: 12px; width: 60vh;">
                                                <div class="progress-bar bg-warning" role="progressbar" th:style="'width:'+${p.getNonCommenceCount()}+'%'"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><a th:text="${p.getNonCommenceCount()}+'%'"></a></div>
                                                <div class="progress-bar bg-danger" role="progressbar" th:style="'width:'+${p.getEnAttenteCount()}+'%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><a th:text="${p.getEnAttenteCount()}+'%'"></a></div>
                                                <div class="progress-bar bg-primary" role="progressbar" th:style="'width:'+${p.getEnCoursCount()}+'%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><a th:text="${p.getEnCoursCount()}+'%'"></a></div>
                                                <div class="progress-bar bg-success" role="progressbar" th:style="'width:'+${p.getTermineCount()}+'%'" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><a th:text="${p.getTermineCount()}+'%'"></a></div>

                                                <!-- Repeat similar code for other progress bars -->
                                            </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div  class="col-md-6 mb-6">

                    <div class="card" style="height: 63.5vh">
                        <div class="card-body">

                                <div class="progress" style="height: 50vh;width:20px ">
                                    <div class="progress-bar bg-success" role="progressbar" style="height: 90%;width:100% " aria-valuenow="-90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress" style="height: 50vh;width:20px ">
                                    <div class="progress-bar bg-primary" role="progressbar" style="height: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress" style="height: 50vh;width:20px ">
                                    <div class="progress-bar bg-success" role="progressbar" style="height: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            </div>

                    </div>
                    </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>