<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">


  <div class="container mt-2">
    <div class="card">
      <div class="card-header">Liste des taches </div>
      <div class="card-body">
        <form th:method="get" th:action="@{/index}">
          <label>key word</label>
          <input type="text" name="keyword" th:value="${keyword}">

          <button type="submit" class="btn btn-primary" ><i class="bi bi-search"></i>Cherche</button>

        </form>
        <table class="table">
          <thead>
          <th>ID</th>
          <th>titre</th>
          <th>description</th>
          <th>user</th>
          <th>dateDebut</th>
          <th>dateFin</th>
          <th>etatAvancement</th>
          <th>heureTravaillees</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p:${listTaches}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.titre}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="nom"></td>
            <td th:text="${p.dateDebut}"></td>
            <td th:text="${p.dateFin}"></td>
            <td th:text="${p.etatAvancement}"></td>
            <td th:text="${p.heureTravaillees}"></td>

            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
              <a onclick="return confirm('are you sure?')" class="btn btn-danger" th:href="@{/delete(id=${p.id},keyword=${keyword},page=${currentPage})}">
                <i class="bi bi-trash"></i>
                Delete
              </a>
            </td>

            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
              <a  class="btn btn-danger"
                  th:href="@{/edit(id=${p.id})}">
                <i class="bi bi-pencil"></i>
                Modify
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="nav nav-pills">
          <li th:each="page,status:${pages}">
            <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
               th:text="${status.index}"
               th:href="@{/index(page=${status.index},keyword=${keyword})}"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


</body>
</html>