<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">

  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<!-- Grey with black text -->

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark border-right" style="width: 30vh;height: 100vh" id="sidebar-wrapper">

    <div class="sidebar-heading text-white fs-4" style="margin-top: 5px" > <i class="bi bi-clipboard2-check-fill"></i> TimeSheet</div>
    <hr style="color: white">
    <div class="list-group list-group-flush" >

      <a href="@{/index}" class="list-group-item list-group-item-action bg-dark text-white "><i class="bi bi-house-door"></i> Home</a>
      <div class="dropdown">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-list-task"></i> Taches</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/form}">Nouveau</a>
          <a class="dropdown-item" th:href="@{/index}">Chercher</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-people"></i> Collabs</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" th:href="@{/admin/formCollab}">Nouveau</a>
          <a class="dropdown-item" th:href="@{/admin/collabs}">Chercher</a>
        </div>
      </div>
      <div style="position: absolute; bottom: 10px; ">
      <hr style="color: white">

      <div class="dropdown">

        <a href="#" class="list-group-item list-group-item-action bg-dark text-white dropdown-toggle" data-bs-toggle="dropdown">
          <i class="bi bi-person-circle" style="color: white"></i>
          <h8 th:text="${#authentication.name}"></h8>

        </a>

        <div class="dropdown-menu">
          <form method="post" th:action="@{/logout}">
            <button class="dropdown-item" type="submit">Logout</button>
          </form>
          <a class="dropdown-item" href="#">Profile</a>
        </div>
      </div>
      </div>
    </div>
  </div>

<div layout:fragment="content1" >

</div>
</div>
</body>
</html>