<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">

  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

  <link rel="icon" type="image/x-icon" href="https://cdn3d.iconscout.com/3d/premium/thumb/clipboard-6356601-5231805.png" />
</head>
<body>
<!-- Grey with black text -->

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <nav class="nav flex-column bg-dark border-right fixed-top" style="width: 30vh; height: 100vh" id="sidebar-wrapper">
    <a class="nav-link text-white fs-4" style="margin-top: 5px" href="#"><i class="bi bi-clipboard2-check-fill"></i> TiiiimeSheet</a>
    <hr style="color: white">
    <a th:href="@{/home(name=${#authentication.name})}"  class="nav-link text-white" href="#"><i class="bi bi-house-door"></i> Home</a>
    <a th:href="@{/index}" class="nav-link text-white" href="#"><i class="bi bi-list-task"></i> Taches</a>
    <a th:href="@{/admin/collabs}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="nav-link text-white" href="#"><i class="bi bi-people"></i> Collabs</a>
    <div class="dropdown" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
      <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-download"></i> Import</a>
      <div class="dropdown-menu bg-dark text-white">
        <a class="dropdown-item bg-dark text-white">
          <form th:action="@{/importTache}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx">
            <button type="submit" class="btn btn-outline-light btn-sm">Tache</button>
          </form>
        </a>
        <a class="dropdown-item bg-dark text-white">
          <form th:action="@{/admin/importCollab}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx">
            <button type="submit" class="btn btn-outline-light btn-sm">collab</button>
          </form>
        </a>
      </div>
    </div>
    <div class="dropdown" >
      <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-upload"></i> Export</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" th:href="@{/exportTache}">exportTache</a>
        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="dropdown-item" th:href="@{/admin/exportCollab}">exportCollab</a>
      </div>
    </div>
    <div style="position: absolute; bottom: 10px;">
      <hr style="color: white">
      <div class="dropdown">
        <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown">
          <i class="bi bi-person-circle" style="color: white"></i>
          <h8 th:text="${#authentication.name}"></h8>
        </a>
        <div class="dropdown-menu">
          <form method="post" th:action="@{/logout}">
            <button class="dropdown-item" type="submit">Logout</button>
          </form>

        </div>
      </div>
    </div>
  </nav>
<div layout:fragment="content1"  >

</div>
</div>
</body>
</html>
